@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

$fontstack: 'Space Grotesk', sans-serif;
$White: hsl(0, 0%, 100%);
$Light-grayish-violet: hsl(270, 3%, 87%);
$Dark-grayish-violet: hsl(279, 6%, 55%);
$Very-dark-violet: hsl(278, 68%, 11%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $White;
  position: relative;
  font-family: $fontstack;
  font-size: 18px;

  .attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: -20px;
  }
  .attribution a { 
    color: hsl(228, 45%, 44%);  
  }
}
.bg {
  height: 100vh;
  margin: 0 0 0 20px;
}

.front-card {
  position: absolute;
  top: 25%;
  left: 10%;

  .logo {
    width: 50px;
    position: absolute;
    top: 10%;
    left: 20px;
  }
  
  .front {
    width: 280px;
  }

  .digits {
    width: 250px;
    position: absolute;
    top: 50%;
    left: 8%;
  }
 
  h6 {
    letter-spacing: 1.2px;
    font-weight: 100;
    text-transform: uppercase;
  }

  .name {
    position: absolute;
    top: 70%;
    left: 8%;
    color: $White;
  }
  .date {
    position: absolute;
    top: 70%;
    left: 80%;
    color: $White;
    letter-spacing: 1.2px;
    font-weight: 100
  }
}

.back-card {
  position: absolute;
  top: 55%;
  left: 15%;

  p {
    position: absolute;
    top: 42%;
    left: 78%;
    font-weight: 100;
    font-size: 10px;
  }
}
.back {
  width: 280px;
}

 p {
  width: 220px;
  font-size: 1.1rem;
  color: $White;
  letter-spacing: 0.1rem;
}

input {
  margin-bottom: 20px;
  padding-left: 10px;
}
.form {
  width: 400px;
  height: 300px;
  padding-left: 20px;
  position: absolute;
  top: 28%;
  left: 50%;

.date-input {
  display: flex;
  align-items: start;
  gap: 5px;

  #input-exp {
    width: 60px;
    height: 30px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid $Light-grayish-violet;
  }
  
  #input-month {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid $Light-grayish-violet;
  }
  #cvc {
    width: 130px;
    height: 30px;
    margin-left: 3px;
    border-radius: 5px;
    border: 1px solid $Light-grayish-violet;
  }
}
  small {
    color: red;
    font-size: 10px;
    margin: -15px 0 10px 0;
  }
  .error {
    font-size: 8px;
    margin-left: 5px;
    color: red;
  }
  .flex-month {
    color: blue;
    display: flex;
    flex-direction: column;
  }
  .flex-year {
    display: flex;
    flex-direction: column;
  }
  .flex-cvc {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  
  .form-control {
    margin-top: 1.3rem;
  }

  label {
    font-size: 15px;
    margin-bottom: 5px;
    color: $Very-dark-violet;
  }
  
  .input {
    width: 75%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid $Light-grayish-violet;
  }
  .name-input {
    display: flex;
    flex-direction: column;
  }
  .digit-input {
    display: flex;
    flex-direction: column;
  }
  .date-label {
    display: flex;
    

  .security {
    margin-left: 15px;
  }

    label {
      margin-left: 5px;
    }
  }
  .cvc {
    margin-left: 8px;
    width: 20%;
  }
  
}
.confirm {
  background: $White;
  width: 320px;
  height: 300px;
  position: absolute;
  top: 25%;
  left: 50%;

  h1 {
    font-size: 1.5rem;
    margin-left: 70px;
    color: $Very-dark-violet;
    }
    p {
      font-size: 1rem;
      width: 500px;
      color: $Dark-grayish-violet;
      margin: 20px 0 0 15px;
    }
}
.thank-you {
  width: 50px;
  margin: 10% 0 0 37%; 
}
.btn-continue {
  height: 30px;
  width: 80%;
  color: $White;
  font-size: 1rem;
  margin: 20px 0 0 30px;
  border-radius: 5px;
  background: $Very-dark-violet;
  cursor: pointer;
}

.btn {
  height: 35px;
  width: 68%;
  background: $Very-dark-violet;
  color: $White;
  border-radius: 5px;
  border: 1px solid $Light-grayish-violet;
  cursor: pointer;
}
.btn:hover {
  background: #000;
} 
.btn-continue:hover {
  background: #000;
} 

@media only screen and (-webkit-min-device-pixel-ratio: 2),
                    only screen and (min--moz-device-pixel-ratio: 2),
                    only screen and (-o-min-device-pixel-ratio: 2/1),
                    only screen and (min-device-pixel-ratio: 2) {

  .container {
    // width: 760px;
    height: 1100px;

    .attribution { 
      width: 650px;
      margin: 1000px 0 0 100px;
      height: 50px;
      font-size: 25px; 
    }
    .attribution a { 
      color: hsl(228, 45%, 44%); 
    }
  }

  .showcase {
    height: 500px;
    // width: 750px;
    padding: 0 10px;
    margin: 0 auto;
  }
  .bg {
    width:800px;
    height: 460px;
   }
   
  .front-card {
    position: absolute;
    top: 23%;
    left: 15%;
    z-index: 3;
  
    .logo {
      width: 80px;
      position: absolute;
      top: 10%;
      left: 30px;
    }
    
    .front {
      width: 550px;
    }
  
    .digits {
      width: 500px;
      position: absolute;
      font-size: 2.3rem;
      top: 50%;
      left: 8%;
    }
   
    h6 {
      letter-spacing: 1.2px;
      font-weight: 100;
      text-transform: uppercase;
    }
  
    .name {
      position: absolute;
      top: 70%;
      left: 8%;
      font-size: 2rem;
      color: $White;
    }
    .date {
      position: absolute;
      top: 70%;
      left: 78%;
      color: $White;
      font-size: 2rem;
      letter-spacing: 1.2px;
      font-weight: 100
    }
    
 p {
  width: 230px;
  font-size: 1.23rem;
  color: $White;
  letter-spacing: 0.1rem;
}
  }
  .back-card {
    position: absolute;
    top: 7%;
    left: 55%;
  
    p {
      position: absolute;
      top: 42%;
      left: 75%;
      font-weight: 100;
      font-size: 1.5rem;
    }
  }
  .back {
    width: 550px;
  }
  .form {
    width: 720px;
    height: 700px;
    position: absolute;
    top: 55%;
    left: 18%;

    .date-label {
      margin: 5px 0 10px 0;
      height: 70px;
      display: flex;
      gap: 5px;
    }
    .expmonth {
      font-size: 3rem;
    }
    .expdate {
      font-size: 3rem;
    }
    .security {
      font-size: 3rem;
    }

    .date-input {
      height: 100px;
      display: flex;
    }
  
    small {
      color: red;
      font-size: 35px;
      margin: -15px 0 10px 0;
    }
    .error {
      font-size: 25px;
      margin-left: 10px;
      color: red;
    }
  
    .form-control {
      margin-top: 1.3rem;
      height: 600px;
      width: 700px;
      padding-left: 0;
    }
    label {
      color: $Very-dark-violet;
      font-size: 3rem;
      margin-bottom: 15px;
    }
  
    .input {
      width: 630px;
      height: 80px;
      border-radius: 10px;
      font-size: 2.4rem;
      border: 1px solid $Dark-grayish-violet;
    }
    
    
    .flex-month {
      width: 30%;
      height: 200px;
      display: flex;
      flex-direction: column;

      #input-month {
        width: 120px;
        font-size: 2.4rem;
        text-align: center;
        height: 80px;
        border-radius: 10px;
        border: 1px solid $Dark-grayish-violet;
      }
    }
    .flex-year {
      width: 30%;
      height: 200px;
      display: flex;
      flex-direction: column;

      #input-exp {
        width: 120px;
        height: 80px;
        font-size: 2.4rem;
        text-align: center;
        margin-left: -60px;
        border-radius: 10px;
        border: 1px solid $Dark-grayish-violet;
      }
    }
    .flex-cvc {
      width: 35%;
      height: 200px;
      display: flex;
      flex-direction: column;

      #cvc {
        width: 310px;
        height: 80px;
        margin-left: -130px;
        font-size: 2.4rem;
        border-radius: 10px;
        border: 1px solid $Dark-grayish-violet;
      }
    }
    .name-input {
      display: flex;
      flex-direction: column;
    }
    .digit-input {
      display: flex;
      flex-direction: column;
    }
  }
  
  .btn {
    height: 100px;
    width: 95%;
    background: $Very-dark-violet;
    color: $White;
    border-radius: 20px;
    font-size: 2rem;
    margin: 115px 0 0 -15px;
    border: 1px solid $White;
    cursor: pointer;
  }

    label {
      color: $White;
      font-size: 2rem;
      margin-bottom: 8px;
    }
  .confirm {
    background: $White;
    width: 650px;
    height: 800px;
    position: absolute;
    top: 42%;
    left: 19%;

    h1 {
      font-size: 3.2rem;
      letter-spacing: 1rem;
      margin: 0 0 50px 120px;
      color: $Very-dark-violet;
      }
      p {
        font-size: 2.1rem;
        width: 550px;
        color: $Dark-grayish-violet;
        margin: 20px 0 0 70px;
      }
  }
  .thank-you {
    width: 230px;
    margin: 43% 0 10% 35%; 
  }
  .btn-continue {
    height: 100px;
    width: 100%;
    color: $White;
    font-size: 2.3rem;
    margin: 80px 0 0 3px;
    border-radius: 20px;
    background: $Very-dark-violet;
  }
  
}


